extends layout 

block content 
    h1 Create message
    form#messageForm(method="POST" action="")
        label(for="title") Title:
        input#title(type="text", name="title" value=((message != null) ? message.title : ""))

        label(for="message") Message:
        input#message(type="textarea", name="message" value=((message != null) ? message.message : ""))

        button#submitBtn Submit
    
    if errors
        ul
            for error in errors
                li!= error.msg

    
    a(href="/") Go back