main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1.3rem;
}
input {
    border-radius: 15px;
    padding: 5px;
    border: none;
    background-color: #f0f0f0;
}

#submitBtn {
    border-radius: 15px;
    padding: 5px;
    border: none;
    background-color: orange;
}

a {
    margin-top: 1rem;
}

a:hover {
    text-decoration: underline;
}